div {
text-align: center;
border: 2px inset gray;
}
-ul{
-float: left	
}

section {
	width: 82vw;
	height: 600px;
	float: left;
}

nav {
	width: 200px;
	height: 300px;
	float: left;
}

#gameBox{
width: 60vw;
height: 60vw;
margin: auto;
display: block;
}
